name: Integration fastapi

on:
  push:
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  integration-fastapi:
    uses: ./.github/workflows/integration-reusable.yml
    with:
      integration: fastapi
