name: Integration starlette

on:
  push:
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  integration-starlette:
    uses: ./.github/workflows/integration-reusable.yml
    with:
      integration: starlette
