name: Integration werkzeug

on:
  push:
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  integration-werkzeug:
    uses: ./.github/workflows/integration-reusable.yml
    with:
      integration: werkzeug
